<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>

    <div id="error_explanation" class="alert alert-danger alert-dismissable">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</strong>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title , :class => 'form-control col-md-6' %>
  </div>
  <br />
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content , :class => 'ckeditor_textarea' %>
  </div>
  <div class="actions">
    <%= f.submit :class=> "btn btn-default btn-lg btn-success" %>
    <%= link_to 'Back', pages_path , :class => "btn btn-danger btn-lg" %>
  </div>
<% end %>
