<div class="container">
    <h1>Editing page <small><%= link_to 'Download Document', page_path(@page, :format => "docx"), :class => 'btn btn-primary' %></small></h1>
  </div>
  <div class="row">
  <div class= "container">
    <%= render 'form' %>
    </div>
  </div>

    
 