<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Pleading Assembly</h1>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th><h5><strong>Pleading Title</strong></h5></th>
          </tr>
        </thead>

        <tbody>
          <% @pages.each do |page| %>
            <tr>
              <td><%= page. title %></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td align="center">
                <%= link_to 'Show', page, :class => 'btn btn-success' %>&nbsp;
                <%= link_to 'Edit', edit_page_path(page), :class => 'btn btn-warning' %>&nbsp;
                <%= link_to 'Delete',  page, :class => 'btn btn-danger' , method: :delete, data: { confirm: 'Are you sure?', } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
   <%= link_to 'Create New', new_page_path , :class => 'btn btn-primary' %>
  </div>
</div>
