
<div class="container" style="padding-top: 30px;">
<div class="col-md-12">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> fade in">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <h5><%= value %></h5>
    </div>
  <% end %>
</div>
<div class="page-header text-center"><h3>Pleading for <small><%= @page.title %></small></h3></div>
<p>
  <%= form_for(@page) do |f| %>
   <%= f.text_area :content , :class => 'ckeditor_textarea' %>
   <% end %>
</p>
<%= link_to 'Download', page_path(@page, :format => "docx") , :class => 'btn btn-primary' %>
<%= link_to 'Edit', edit_page_path(@page), :class => 'btn btn-warning' %>
<%= link_to 'Back', pages_path, :class => 'btn btn-danger' %>

</div>