<%= form_for(@pleading_template) do |f| %>
  <% if @pleading_template.errors.any? %>

    <div id="error_explanation" class="alert alert-danger alert-dismissable">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong><%= pluralize(@pleading_template.errors.count, "error") %> prohibited this page from being saved:</strong>

      <ul>
      <% @pleading_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :case_heading %><br>
    <%= f.text_area :case_heading, :class => 'ckeditor_textarea' %>
  </div>
  <div class="form-group">
    <%= f.label :case_title %><br>
    <%= f.text_area :case_title, :class => 'ckeditor_textarea' %>
  </div>
  <div class="form-group">
    <%= f.label :case_no %><br>
    <%= f.text_area :case_no, :class => 'ckeditor_textarea' %>
  </div>
  <div class="form-group">
    <%= f.label :nature_of_case %><br>
    <%= f.text_area :nature_of_case, :class => 'ckeditor_textarea' %>
  </div>
  <div class="form-group">
    <%= f.label :pleadings_intro %><br>
    <%= f.text_area :pleadings_intro, :class => 'ckeditor_textarea' %>
  </div>
  <div class="form-group">
    <%= f.label :copy_furnished %><br>
    <%= f.text_area :copy_furnished, :class => 'ckeditor_textarea' %>
  </div>
    <div class="actions">
    <%= f.submit :class=> "btn btn-default btn-lg btn-success" %>
    <%= link_to 'Back', pleading_templates_path , :class => "btn btn-danger btn-lg" %>
  </div>
<% end %>
