<div class="container">
  <div class="col-md-10">
    <h1 class="text-center">Pleading Templates</h1>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Case ID</th>
            <th>Case Title</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @pleading_templates.each do |pleading_template| %>
            <tr>
              <td><%= pleading_template.id %></td>
              <td><%= pleading_template.case_heading.html_safe %></td>
              <td> <%= link_to 'Show', pleading_template, :class => 'btn btn-success' %></td>
              <td><%= link_to 'Edit', edit_pleading_template_path(pleading_template), :class => 'btn btn-warning' %></td>
              <td><%= link_to 'Delete',  pleading_template, :class => 'btn btn-danger' , method: :delete, data: { confirm: 'Are you sure?', } %></td>
              <td>&nbsp;</td>
              
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
   <%= link_to 'New Pleading template', new_pleading_template_path , :class => 'btn btn-primary' %>
  </div>
</div>

