<div class="container">
  <h1>New Pleading Templates</h1>
</div>

  <div class="row">
    <div class= "container">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'form' %>
      </div>
    </div>
  </div>
