<div class="container">
    <h1>Your Finished Document</h1>
  </div>

  <div class="row">
  <div class= "container">
    <textarea cols="20" rows="40" id="post_body" name="post[body]" class="ckeditor_textarea">
      <%= @complete_content %>
    </textarea>
    <br />
    <%= link_to 'Download', pleading_template_path(@pleading_template, :format => "docx") , :class => 'btn btn-primary btn-lg' %>
    <%= link_to 'Edit', edit_pleading_template_path(@pleading_template), :class => 'btn btn-warning btn-lg' %> 
    <%= link_to 'Back', pleading_templates_path, :class => 'btn btn-danger btn-lg' %>
    </div>
  </div>



